
 h1 {
    font-family: 'Courier New', serif;
    color: violet;
  }

  h2 {
    font-family: 'Courier New', serif;
    color: violet;
  }

  h3 {
    font-family: 'Courier New', serif;
    color: violet;
  }

  p {
    font-family: 'Courier New', sans-serif;
    color: beige;
  }
